/*
1. Posicionamiento
2. Modelo caja (Box Model)
3. Tipografia
4. Visuales
5. Otros
*/
:root {
    /* Colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1a9af7;
    --soft-blue: #E7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    max-width: 900px;
    min-width: 288px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    margin-top: 25px;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 114.5px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container-info {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;   
}

.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: #f7931a;
}

.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table {
    width: 100%;
    height: 100%;
}

.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--warm-black);
}

.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0 ;
}
.currency-table--container .table__top-right {
    border-radius: 0 15px 0 0 ;
}
.currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px ;
}
.currency-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}

.table-right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.bitcoin-trending, .Stellar-trending, .Ripple-trending, .ethereum-trending{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    border: 0px solid;
    display: inline-block;
    background-image: url('./assets/assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ethereum-trending {
    background-image: url(./assets/assets/icons/trending-up.svg);
}

.currency-table-date {
    width: 190px;
    height: 30px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.currency-table-date p {
    color: var(--warm-black);
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.seccion2 {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--warm-black);
    
    position: relative;
    padding: 20px 10px;
}

.product-detail--patata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url(./assets/assets/icons/batata.svg);
}

.seccion2_cabecera {
    width: 90%;
    margin: 0 auto;
    min-width: 288px;
    height: auto;
    margin-top: 50px;
    text-align: center;
}

.seccion2 h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.seccion2 h3 {
    color: var(--just-white);
    text-align: left;
    margin-bottom: 15px;
    font-size: 1.8rem;
    padding: 8px;
    font-weight: bold;
    line-height: 1.8rem;
    
}

.seccion2_cabecera p {
    color: #808080;
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;

}

.seccion2_box {
    
    width: 100%px;
    min-width: 288px;
    max-width: 400px;
    height: auto;
    margin: 15px auto;
    background-color: #282623;
    margin: 15px auto;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16)
}

.seccion2 p {
    color: #808080;
}

.seccion2_box p {
    font-weight: 1.4rem;
    line-height: 1.8rem;
    text-align: left;
    font-size: 15px;
}

.icon_time, .icon_eye, .icon_money, .icon_check {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    text-align: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./assets/assets/icons/clock.svg);
}

.icon_eye{
    background-image: url(./assets/assets/icons/eye.svg);
} 
.icon_money{
    background-image: url(./assets/assets/icons/dollar-sign.svg);
}
.icon_check {
    background-image: url(./assets/assets/icons/check-circle.svg);
}

.girl_btc {
    width: 100%;
    min-width: 320px;
    min-height: 50vw;
    background-image: url(./assets/assets/img/bitcoinbaby.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
}

.girl_btc h2 {
    color: var(--just-white);
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    
}

.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.plans-title {
    width: 100%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}
.plans-title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans-title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--card {
    position: relative;
    width: 70%;
    min-width: 250px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recomendado {
    position: absolute;
    width: 120px;
    height: 31px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    left: calc(50% - 60px);
    top: -15px;
    font-size: 1.2rem;
    padding: 6px;
}
.plan-card--title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}
.plan-card--price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}
.plan-card--price span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}
.plan-card--saving {
    font-size: 1.2rem;
    color: #757575;
}
.plan-card--ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    font-family: 'DM Sans', sans-serif;
}
.plan-card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./assets/assets/icons/orange-right-arrow.svg);
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

